.chat
    display: flex
    justify-content: center
    padding-top: 105px
    height: 100vh
    animation-duration: 0.5s
    background: url(../img/chat/background.png) center (center / cover) no-repeat
    &__window
        padding-bottom: 20px 
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        z-index: 0
        border-radius: 14px
        width: 1260px
        height: 820px
        background: linear-gradient(180deg, rgba(28, 14, 33, 0.9) 0%, rgba(14, 45, 58, 0.9) 100%)
    &__header
        display: flex
        justify-content: center
        align-items: center
        border-top-left-radius: 14px
        border-top-right-radius: 14px 
        z-index: 1
        width: 100%
        height: 70px
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), rgba(77, 23, 50, 0.3)
        &_title
            font-family: 'Space Grotesk'
            font-weight: 500
            font-size: 24px
            color: #FBCF9B
    &__messages-area
        overflow-y: scroll
        display: flex
        flex-direction: column-reverse
        margin: 50px 0 18px 0
        padding: 0 120px 0 120px
        width: 1240px
        z-index: 1
        height: 670px
        border-bottom-left-radius: 14px
        border-bottom-right-radius: 14px
        &::-webkit-scrollbar
            width: 5px        
        &::-webkit-scrollbar-track
            border-radius: 14px
            background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 30%,rgba(237, 123, 140, 0.4) 50%,rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%)
        &::-webkit-scrollbar-thumb
            border-radius: 14px
            background-color: rgba(237, 123, 140, 0.4)
    &__message
        display: flex
        align-content: flex-start
        margin-bottom: 14px
        &_content
            display: flex
            flex-direction: column
            align-items: flex-start
            justify-content: center
            min-height: 50px
            max-height: 580px
            max-width: 400px
            position: relative
            background: #1E5B61
            padding: 12px 
            border-radius: 16px
            width: 100%
        &_title
            +title700
            font-size: 16px
            color: &main-color
        &_img
            margin: 10px 0
            border-radius: 14px
            width: 100%
        &_price
            margin-top: 5px
            +title400
            color: $main-color
            font-size: 16px
            span
                +title700
        &_text
            color: $main-color
            font-weight: 400
            font-size: 16px
        &_wrapper
            display: flex
            flex-direction: column
            align-content: start
            justify-content: center
            margin-top: 15px
        &_radio
            display: none
        &_checkbox
            display: none
        &_label-check
            margin-left: 40px
            position: relative
            +title400
            font-size: 16px
            color: $main-color
            &::before
                content: ''
                position: absolute
                width: 32px
                height: 32px
                left: -40px
                top: -4px
                background: url(../../img/chat/checkbox.png) 0 0 no-repeat
        &_checkbox:checked + &_label-check:before
            transition: 0.5s all
            background: url(../../img/chat/checkbox-checked.png) 0 0 no-repeat
        &_label-check:hover:before
            cursor: pointer
        &_label-radio
            margin-left: 40px
            position: relative
            +title400
            font-size: 16px
            color: $main-color
            &::before
                content: ''
                position: absolute
                width: 32px
                height: 32px
                left: -40px
                top: -4px
                background: url(../../img/chat/radio.png) 0 0 no-repeat
        &_radio:checked + &_label-radio:before
            transition: 0.5s all
            background: url(../../img/chat/radio-checked.png) 0 0 no-repeat
        &_label-radio:hover:before
            cursor: pointer     
        &_country
            transition: 0.5s all
            position: relative
            display: flex
            justify-content: center
            align-items: end
            border-radius: 14px
            background-size: 100% 100%
            &:hover
                cursor: pointer
                transform: translate(4px, -4px)
            &:nth-child(1)
                background-image: url(https://i.imgur.com/mtYkrPW.png)
            &:nth-child(2)
                background-image: url(https://i.imgur.com/1OvasM7.png)
            &:nth-child(3)
                background-image: url(https://i.imgur.com/eXtD2rE.png)
            &:nth-child(4)
                background-image: url(https://i.imgur.com/ht4hJQo.png)
            &:nth-child(5)
                background-image: url(https://i.imgur.com/1R64DL1.png)
        &_number
            width: 24px
            height: 24px
            position: absolute
            display: flex
            justify-content: center
            align-items: center
            background-color: #1F2F3B
            border-radius: 8px
            color: #08DCC6
            top: 10px
            left: 10px
        &_footer
            width: 100%
            height: 30%
            display: flex
            flex-direction: column
            align-items: flex-start
            justify-content: center
            background: rgba(244, 99, 105, 0.5)
            backdrop-filter: blur(25px)
            border-radius: 0px 0px 12px 12px
        &_name
            margin-left: 10px
            +title700
            font-size: 14px
            color: #000
        &_info
            margin-left: 10px
            +title400
            font-size: 12px
            color: rgba(65, 65, 65, 1)

    &__images-5
        &_wrapper
            display: grid
            grid-template: repeat(11, 40px) / repeat(2, 175px)
            row-gap: 2px
    &__images-3
        &_wrapper
            display: grid
            grid-template: repeat(8, 40px) / repeat(2, 175px)
            row-gap: 2px
          

    &__input
        position: relative
        +title400
        font-size: 16px
        padding: 0 80px 0 10px
        background: #2A8B8D
        border: none
        border-radius: 12px
        position: relative
        width: 100%
        height: 40px
        outline: none
        color: $main-color
        caret-color: #ED7B8C
            
        &::placeholder
            opacity: 0.3
            color: #1F2F3B
        &_wrapper
            position: relative
            width: 100%
            padding: 0 130px
        &_glass
            position: absolute
            right: 176px
            bottom: 8px
            width: 24px
            height: 24px
            &:hover
                cursor: pointer
        &_micro
            position: absolute
            right: 142px
            bottom: 8px
            width: 24px
            height: 24px
            &:hover
                cursor: pointer

.w350
    width: 350px
.w170
    width: 170px
.h160
    height: 160px
.h120
    height: 120px

.gc12
    grid-column: 1 / 2
.gc23
    grid-column: 2 / 3

.gr15
    grid-row: 1 / 5 
.gr59
    grid-row: 5 / 9 
.gr58
    grid-row: 5 / 8
.gr811
    grid-row: 8 / 11 
.gr911
    grid-row: 9 / 11 

.white
    color: #fff      

.message-bot
    justify-content: start
    .chat__message_avatar
            margin-right: 5px
    .chat__message_content
        &::before
            content: ''
            position: absolute
            left: -10px
            top: 14px
            border: 5px solid transparent
            border-top: 5px solid #1E5B61
            border-right: 5px solid #1E5B61

.message-user
    justify-content: end
    .chat__message_avatar
            margin-left: 15px
    .chat__message_content
        &::after
            content: ''
            position: absolute
            right: -10px
            top: 14px
            border: 5px solid transparent
            border-top: 5px solid #1E5B61
            border-left: 5px solid #1E5B61
    